* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.hero {
    height: 120vh;
    width: 100%;
    background-image: url(ola.png);
    background-size: cover;
    /*clip-path: polygon(0 40%, 40% 2%, 0% 70%, 80% 20%);*/

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}

span {
    color: purple;
    font-family: 'Rubik', sans-serif;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize
}

nav ul li a:hover {
    color: purple;
    transition: -4s;
}

.btn {
    background-color: purple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 20px;
    transition: transform.4s;

}

.btn:hover {
    transform: scale(1.2);
    transform: translate(10%, 30%);
    box-shadow: whitesmoke;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50px);

}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 50px;

}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    font-family: 'Rubik', sans-serif;
}

h4 {
    letter-spacing: 2px;
    color: rgb(121, 3, 121);
    font-size: 20px;
}

.newsletter form {
    width: 20rem;
    margin: 2rem;
    position: absolute;
    right: 2rem;
    top: 9rem;
}

.newsletter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid purple;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: purple;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    cursor: pointer;
    transition: transform.4s;

}

.newsletter form input:last-child:hover {
    transform: scale(1.1);
}


.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
    margin-bottom: -20px;
}

.about img {
    height: auto;
    width: 30rem;


}

.about-text {
    width: 550px;
    font-family: 'Rubik', sans-serif;
    text-align: center;

    right: 20rem;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.about-text p {
    color: rgb(139, 55, 139);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: purple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3s;


}

button:hover {
    background-color: transparent;
    border: 2px solid purple;
    cursor: pointer;

}

.service {
    background: #101010;
    width: 100%;
    padding-left: 100px 0px;
    font-family: 'Rubik', sans-serif;
    margin-top: -5rem;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    /* top: 5rem;*/

}

.card {
    height: 500px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: purple;
    top: 15rem;

}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 5px;
    padding-top: -15px;
}



.pra p {
    color: rgb(139, 55, 139);
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}

.card .btn {
    background-color: purple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    margin-top: 30px;

}

.card .btn:hover {
    background-color: transparent;
    border: 2px solid purple;
    cursor: pointer;
}

.Contact-Me {
    width: 100%;
    height: 200px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.Contact-Me p {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;

}

.Contact-Me .button-two {
    background-color: purple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.Contact-Me .button-two:hover {
    background-color: transparent;
    border: 2px solid purple;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;

}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}

.social {
    display: flex;

}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: purple;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;

}

.end {
    position: absolute;
    color: purple;
    bottom: 35px;
    font-size: 14px;

}

@media(max-width:360px) {
    body {
        font-size: 1.0em;
    }

    .hero {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        background-size: 125%;
        font-size: small;
        margin-bottom: -100px;
        height: 100vh;
        background-size: cover;

    }

    nav {
        display: none;

    }

    .content {
        position: absolute;
        top: 40%;
        left: 8%;
        transform: translateY(-50px);


    }

    .content h3 {

        margin-bottom: 20px;
        width: 50%;
        height: 50px;
        font-size: 0.9rem;
        text-align: center;

    }

    .newsletter form {
        width: 4rem;
        margin-top: 3rem;
        position: absolute;
        right: 9rem;
        top: 9rem;
         display: none;
    }

    .newsletter form #mail {
        display: inline-block;
        width: 50%;
        padding: 14px 130px 14px 15px;
        border: 2px solid purple;
        outline: none;
        border-radius: 30px;
        left: 6rem;

    }

    .newsletter form .btn {
        width: 150%;
        position: absolute;
        display: inline-block;
        border: none;
        outline: auto;
        padding: 2px 30px 10px 20px;
        border-radius: 30px;
        background-color: purple;
        color: white;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        left: 50px;
        cursor: pointer;
        transition: transform.4s;
        font-size: 10px;

    }


    .content .logo {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }


    .about {
        display: block;
        justify-content: center;
        align-items: flex-start;


    }

    .about .main {

        display: block;
        top: 50rem;
        outline: none;
    }

    .about .main img {
        height: 100%;
        width: 102.5%;
        display: inline-block;
        justify-content: center;
        margin-top: -99px;
        margin-left: -4px;
        box-shadow: #858585 solid;

    }

    .about .about-text {
        width: 80%;
        font-family: 'Rubik', sans-serif;
        padding-left: 90px;
    }

    .about-text h2 {
        font-size: 30px;

    }

    .about-text h5 {
        font-size: 20px;
        margin-top: -20px;

    }

    .about {
        height: 50%;
        ;
    }

    .about-text p {
        color: rgb(139, 55, 139);
        letter-spacing: 2px;
        line-height: 16px;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .about-text button {
        background-color: purple;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        right: 7rem;
        margin-right: 30px;
        margin-top: -30px;

    }

    .main {
        width: 900px;
        max-width: 95%;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }



    .title h2 {
        color: white;
        font-size: 30px;
        width: 80%;
        margin: 10px auto;

    }

    .box {
        display: grid;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: -0.5rem;
        margin-bottom: 0.5rem;

    }

    .card {
        height: auto;
        width: 90%;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin-top: 15px;
        position: relative;
        overflow: hidden;
        padding-bottom: 80px;

    }

    .Contact-Me {
        width: auto;
        height: auto;
        background: #191919;
        display: block;
        align-items: center;
        margin-top: -15px;
        text-align: center;



    }

    .Contact-Me p {

        font-size: 5px;

    }

    .Contact-Me .button-two {
        background-color: purple;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
        transition: .4s;
        position: absolute;
        display: none;
        align-items: center;
    }

    .pra p {
        margin-bottom: 30px;
    }

    footer p:nth-child(2) {
        color: white;
        font-size: 17px;
        width: 100%;
        text-align: center;
        line-height: 26px;

    }

}

@media(max-width:639px) {
    body {
        font-size: 1.0em;
    }

    .hero {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        background-size: 125%;
        font-size: small;
        margin-bottom: -100px;
        height: 100vh;
        background-size: cover;

    }

    nav {
        display: none;
    }

    .content {
        position: absolute;
        top: 40%;
        left: 8%;
        transform: translateY(-50px);


    }

    .content h3 {

        margin-bottom: 20px;
        width: 50%;
        height: 50px;
        font-size: 0.9rem;
        text-align: center;

    }

    .newsletter form {
        width: 4rem;
        margin-top: 3rem;
        position: absolute;
        right: 9rem;
        top: 9rem;
         display: none;
    }

    .newsletter form #mail {
        display: inline-block;
        width: 50%;
        padding: 14px 130px 14px 15px;
        border: 2px solid purple;
        outline: none;
        border-radius: 30px;
        left: 6rem;

    }

    .newsletter form .btn {
        width: 150%;
        position: absolute;
        display: inline-block;
        border: none;
        outline: auto;
        padding: 2px 30px 10px 20px;
        border-radius: 30px;
        background-color: purple;
        color: white;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        left: 50px;
        cursor: pointer;
        transition: transform.4s;
        font-size: 10px;

    }


    .content .logo {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }


    .about {
        display: block;
        justify-content: center;
        align-items: flex-start;


    }

    .about .main {

        display: block;
        top: 50rem;
        outline: none;
    }

    .about .main img {
        height: 100%;
        width: 102.5%;
        display: inline-block;
        justify-content: center;
        margin-top: -99px;
        margin-left: -4px;
        box-shadow: #858585 solid;

    }

    .about .about-text {
        width: 80%;
        font-family: 'Rubik', sans-serif;
        padding-left: 90px;
    }

    .about-text h2 {
        font-size: 30px;

    }

    .about-text h5 {
        font-size: 20px;
        margin-top: -20px;

    }

    .about {
        height: 50%;
        ;
    }

    .about-text p {
        color: rgb(139, 55, 139);
        letter-spacing: 2px;
        line-height: 16px;
        font-size: 1rem;
        margin-bottom: 20px;
    }

    .about-text button {
        background-color: purple;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 30px;
        right: 7rem;
        margin-right: 30px;
        margin-top: -30px;

    }

    .main {
        width: 900px;
        max-width: 95%;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }



    .title h2 {
        color: white;
        font-size: 30px;
        width: 80%;
        margin: 10px auto;

    }

    .box {
        display: grid;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: -0.5rem;
        margin-bottom: 0.5rem;

    }

    .card {
        height: auto;
        width: 90%;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin-top: 15px;
        position: relative;
        overflow: hidden;
        padding-bottom: 80px;

    }

    .Contact-Me {
        width: 100%;
        height: 100px;
        background: #191919;
        display: block;
        align-items: center;
        margin-top: -15px;



    }

    .Contact-Me p {

        font-size: 30px;
        line-height: 30px;
        text-align: center;

    }

    .Contact-Me .button-two {
        background-color: purple;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
        transition: .4s;
        position: relative;
        left: 16rem;
    }

    .pra p {
        margin-bottom: 30px;
    }

    footer p:nth-child(2) {
        color: white;
        font-size: 20px;
        width: 100%;
        text-align: center;
        line-height: 26px;

    }

}
